In [9]:
import numpy as np
import pandas as pd

In [10]:
df1=pd.read_csv("./datasets/credit_train.csv")
df1

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df1.dtypes

Loan ID                          object
Customer ID                      object
Loan Status                      object
Current Loan Amount             float64
Term                             object
Credit Score                    float64
Annual Income                   float64
Years in current job             object
Home Ownership                   object
Purpose                          object
Monthly Debt                    float64
Years of Credit History         float64
Months since last delinquent    float64
Number of Open Accounts         float64
Number of Credit Problems       float64
Current Credit Balance          float64
Maximum Open Credit             float64
Bankruptcies                    float64
Tax Liens                       float64
dtype: object

In [12]:
df1.isnull().sum()

Loan ID                           514
Customer ID                       514
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [13]:
df1.drop_duplicates(inplace=True)

In [14]:
df1.shape

(89786, 19)

In [15]:
df1.isnull().sum()

Loan ID                             1
Customer ID                         1
Loan Status                         1
Current Loan Amount                 1
Term                                1
Credit Score                    19155
Annual Income                   19155
Years in current job             3803
Home Ownership                      1
Purpose                             1
Monthly Debt                        1
Years of Credit History             1
Months since last delinquent    48338
Number of Open Accounts             1
Number of Credit Problems           1
Current Credit Balance              1
Maximum Open Credit                 3
Bankruptcies                      191
Tax Liens                          10
dtype: int64

In [16]:
df1['Credit Score'].fillna(df1['Credit Score'].median())
df1['Annual Income'].fillna(df1['Annual Income'].median())

# Fill 'Bankruptcies' and 'Tax Liens' with median as well (assuming these are numerical)
df1['Bankruptcies'].fillna(df1['Bankruptcies'].median())
df1['Tax Liens'].fillna(df1['Tax Liens'].median())

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
99996     0.0
99997     0.0
99998     0.0
99999     0.0
100000    0.0
Name: Tax Liens, Length: 89786, dtype: float64

In [17]:
df1.isnull().sum()

Loan ID                             1
Customer ID                         1
Loan Status                         1
Current Loan Amount                 1
Term                                1
Credit Score                    19155
Annual Income                   19155
Years in current job             3803
Home Ownership                      1
Purpose                             1
Monthly Debt                        1
Years of Credit History             1
Months since last delinquent    48338
Number of Open Accounts             1
Number of Credit Problems           1
Current Credit Balance              1
Maximum Open Credit                 3
Bankruptcies                      191
Tax Liens                          10
dtype: int64

In [19]:
df1['Years in current job'] = df1['Years in current job'].replace('10+ years', '10')
df1['Years in current job'] = df1['Years in current job'].str.extract('(\d+)').astype(float)

# 2. Fill missing values with the median of the cleaned numeric values
df1['Years in current job'] = df1['Years in current job'].fillna(df1['Years in current job'].median())

# Verify the column is now numeric and has no missing values
print(df1['Years in current job'].head())
print(df1.isnull().sum())

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\SMRUTI\AppData\Local\Temp\ipykernel_26240\3169122970.py:2: SyntaxWarning: invalid escape sequence '\d'
  df1['Years in current job'] = df1['Years in current job'].str.extract('(\d+)').astype(float)

0     8.0
1    10.0
2     8.0
3     3.0
4     5.0
Name: Years in current job, dtype: float64
Loan ID                             1
Customer ID                         1
Loan Status                         1
Current Loan Amount                 1
Term                                1
Credit Score                        0
Annual Income                       0
Years in current job                0
Home Ownership                      1
Purpose                             1
Monthly Debt                        1
Years of Credit History             1
Months since last delinquent    48338
Number of Open Accounts             1
Number of Credit Problems           1
Current Credit Balance              1
Maximum Open Credit                 3
Bankruptcies                      191
Tax Liens                          10
dtype: int64

In [20]:
df1

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8.0,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,729.0,1168975.0,10.0,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8.0,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3.0,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,729.0,1168975.0,5.0,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996,06eba04f-58fc-424a-b666-ed72aa008900,77f2252a-b7d1-4b07-a746-1202a8304290,Fully Paid,99999999.0,Short Term,732.0,1289416.0,1.0,Rent,Debt Consolidation,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,0.0,0.0
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,2ced5f10-bd60-4a11-9134-cadce4e7b0a3,Fully Paid,103136.0,Short Term,742.0,1150545.0,6.0,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,3e45ffda-99fd-4cfc-b8b8-446f4a505f36,Fully Paid,530332.0,Short Term,746.0,1717524.0,9.0,Rent,Debt Consolidation,9890.07,15.0,NaN,8.0,0.0,404225.0,738254.0,0.0,0.0
99999,c63916c6-6d46-47a9-949a-51d09af4414f,1b3014be-5c07-4d41-abe7-44573c375886,Fully Paid,99999999.0,Short Term,743.0,935180.0,6.0,Own Home,Debt Consolidation,9118.10,13.0,NaN,4.0,1.0,45600.0,91014.0,1.0,0.0
100000,NaN,NaN,NaN,NaN,NaN,729.0,1168975.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df1['Purpose'].unique()

array(['Home Improvements', 'Debt Consolidation', 'Buy House', 'other',
       'Business Loan', 'Buy a Car', 'major_purchase', 'Take a Trip',
       'Other', 'small_business', 'Medical Bills', 'wedding', 'vacation',
       'Educational Expenses', 'moving', 'renewable_energy', nan],
      dtype=object)

In [22]:
df1['Purpose'] = df1['Purpose'].replace({
    'Home Improvements': 'Home Improvement',
    'Debt Consolidation': 'Debt Consolidation',  # Keeping it as is
    'Buy House': 'Home Purchase',
    'Buy a Car': 'Vehicle Purchase',
    'major_purchase': 'Major Purchase',
    'Take a Trip': 'Vacation',
    'Other': 'Other',
    'other': 'Other',  # Combine 'Other' with 'other'
    'small_business': 'Business',
    'Business Loan': 'Business',
    'Medical Bills': 'Medical Expenses',
    'wedding': 'Wedding',
    'vacation': 'Vacation',
    'Educational Expenses': 'Education',
    'moving': 'Moving',
    'renewable_energy': 'Renewable Energy'
})

In [23]:
df1['Purpose'] = df1['Purpose'].fillna('Unknown')

In [25]:
df1["Home Ownership"].unique()

array(['Home Mortgage', 'Own Home', 'Rent', 'HaveMortgage', nan],
      dtype=object)

In [26]:
df1['Home Ownership'] = df1['Home Ownership'].replace({
    'Home Mortgage': 'Mortgage',     # Standardize mortgage categories
    'HaveMortgage': 'Mortgage',
    'Own Home': 'Owned',             # Simplify owned home category
    'Rent': 'Rent'                   # Keep 'Rent' as is
})

In [27]:
df1['Home Ownership'] = df1['Home Ownership'].fillna('Unknown')

In [28]:
df1.sample(3)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
17539,02cb661f-f784-484f-ac16-085b9659064f,42b751bd-5cf4-40fc-8896-80c697826fbb,Fully Paid,223718.0,Short Term,716.0,844341.0,2.0,Rent,Debt Consolidation,22304.48,12.5,NaN,18.0,0.0,205713.0,257224.0,0.0,0.0
13804,c85df7c1-7908-449d-b77f-d6cbe089054b,bc0611c9-7206-43ad-aef0-38274825d8e0,Fully Paid,325094.0,Short Term,729.0,1168975.0,10.0,Owned,Debt Consolidation,21672.73,16.4,14.0,13.0,0.0,164350.0,386012.0,0.0,0.0
8485,1e70eca7-1077-4b66-8959-ae3385ab86b5,bbd87bf2-f379-4d37-a755-ef198560a6fc,Fully Paid,246642.0,Short Term,747.0,1597596.0,10.0,Mortgage,Home Improvement,16987.71,24.0,NaN,8.0,0.0,232275.0,745030.0,0.0,0.0

- Null Hypothesis (H0): There is no correlation between customer income and loan approval amount.
- Alternative Hypothesis (H1): There is a positive correlation between customer income and loan approval amount.

In [29]:
from scipy.stats import pearsonr

# Assuming 'df1' is your DataFrame
# Drop any rows with NaN values in the relevant columns
df1_cleaned = df1[['Annual Income', 'Current Loan Amount']].dropna()

# Step 2: Calculate the Pearson correlation coefficient
correlation_coefficient, p_value = pearsonr(df1_cleaned['Annual Income'], df1_cleaned['Current Loan Amount'])

print(f"Pearson Correlation Coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

Pearson Correlation Coefficient: 0.03139173414519915
P-value: 5.034954381522041e-21

### Correlation Coefficient Interpretation
- A value close to **1** indicates a **strong positive correlation**.
- A value close to **-1** indicates a **strong negative correlation**.
- A value around **0** indicates **no correlation**.

### P-value Interpretation
- If the **p-value** is less than your significance level (commonly **0.05**), you **reject the null hypothesis**.
- If the **p-value** is greater than your significance level, you **fail to reject the null hypothesis**.

### Conclusion
Given that the p-value is approximately **5.03e-21**, which is significantly less than the significance level of **0.05**, we reject the null hypothesis. This indicates strong evidence of a positive correlation between customer income and loan approval amount.

In [30]:

# df1.to_csv('loan_df.csv', index=False)